<li>
  <span class="title"><%= entry.title %></span>
  <span class="content"><%= entry.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
  </span>
  <% if current_user?(entry.user) %>
    <%= link_to "delete", entry, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: entry.content %>
  <% end %>
  <% if entry.comments.any? %>
    <ol class="comments">
      <%= render entry.comments %>
    </ol>
  <% end %>
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Comment here..." %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
</li>
